<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Driver #<span class="font-weight-bold" th:text="${driver.id}">123</span></h1>

        <div class="row">
            <div class="col-md-3">Person ID</div>
            <div class="col-md-9 font-weight-bold" th:text="${driver.pid}"></div>
        </div>
        <div class="row">
            <div class="col-md-3">First name</div>
            <div class="col-md-9 font-weight-bold" th:text="${driver.firstName}"></div>
        </div>
        <div class="row">
            <div class="col-md-3">Last name</div>
            <div class="col-md-9 font-weight-bold" th:text="${driver.lastName}"></div>
        </div>

        <div>
            <a class="btn btn-danger"
               data-th-href="@{/mvc/driver/delete(id=${driver.id})}">Delete</a>
            <a class="btn btn-warning"
               data-th-href="@{/mvc/driver/edit-form(id=${driver.id})}">Edit</a>
        </div>
    </div>
</body>
</html>