<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="jumbotron">
<img src="/images/1df0fafb-9063-46d0-a1dc-ed40ed07e7b7">
<form class="form-upload" method="POST" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <h1 class="h3 mb-3 font-weight-normal">File upload</h1>
    <label for="inputFile" class="sr-only">File</label>
    <input name="file" type="file" id="inputFile" class="form-control" placeholder="Select file to upload" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>
</body>
</html>